#day-carousel {
   margin: 0 auto !important;
   display: flex;
   justify-content: space-evenly;
   overflow-x: unset;
}

.calendar-box {
   min-height: 299px;
}

.partner-button {
   margin-top: 0;
}

.owl-height {
   height: 50px !important;
}

.owl-stage {
   transform: translate3d(-700px, 0px, 0px) !important;
   transition: all 0.8s ease 0s !important;
   width: 2100px !important;
}

owl-stage-outer {
   height: 50px !important;
}

.selectdate>.day-box {
   background-color: #d6171f !important;
}

.day-box {
   transition: 600ms all;
   cursor: pointer;
}

#calendar-section::before {
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   /*background: url("../front/img/loader.webp") no-repeat center #fff;*/
   top: 0;
   bottom: 0;
   z-index: 5;
   background-size: 100px;
   transition: 600ms all;
   transform: scale(1);
}

#calendar-section {
   position: relative;
}

#calendar-section.expand::before {
   transform: scale(0);
}

.selectdate * {
   color: #fff !important;
   border-color: #fff !important;
}

.owl-nav button {
   outline: none !important;
}

/* .chooseDay .item {
 display: table-cell; 
 }*/
.sortAsc {
   background-color: #fbe1e1;
   color: #ba5d60;
   font-family: 'open sans', 'arial';
   font-size: 14px;
   text-transform: uppercase;
   display: inline-block;
   padding: 5px 17px;
   border-radius: 4px;
   cursor: pointer;
   font-weight: 600;
   font-style: italic;
}

.new {
   display: block;

   float: right;
   margin-right: -330px;
   border: none;
   margin-top: -16px;
}

.events-btn {
   border: 1px solid red;
   padding: 10px;
   color: #000000;
   font-weight: 500;
   cursor: pointer;
}

.single-banner-caption.about-caption {
   width: 500px;
   left: 0%;
   top: 30%;
   text-align: center;
}

.ban-text {
   left: 1% !important;
}

/* .al-calendar-box {
    padding: 20px 22px !important;
    height: 424px !important;
 } */


.al-calendar-box h5 span {
   font-size: 15px !important;
   /* position: relative !important; */
   color: #000;
   right: -16px;
   width: 58px;
   top: 4px !important;
   text-transform: uppercase;
   left: 27px !important;
}

p.text-left {
   margin-bottom: 6px !important;
   color: #000 !important;
   font-weight: 600 !important;
}

.al-imgs {
   margin-top: 12px;
   margin-left: -14px;
   width: 118px;
}


.calendar-box .event-heading {
   padding-left: 23px !important;
   border-left: 1px solid #e0e0e0;
   margin-left: 25px !important;
}

.calendar-box .al-date {
   font-size: 21px !important;
   color: #d6171f;
   font-family: 'Oswald', sans-serif;
}


p.al-free {
   color: red !important;
   font-size: 18px !important;
   font-weight: 600 !important;
}

.event_texts {
   position: relative;
   /* top: -65px; */
   left: 42px !important;
   display: flex;
   gap: 66px;
   align-items: center;

}

.calendar-box .al-event-heading h6 {
   font-family: 'Open Sans', sans-serif;
   font-weight: 600;
   font-size: 20px !important;
   color: #000;
   line-height: 25px;
   margin-top: 8px;
   min-height: 90px;
}



@media (max-width: 576px) {
   .sortAsc {
      padding: 8px 16px;
      font-size: 14px;
   }
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
   .sortAsc {
      /* padding: 10px 20px; */
      /* font-size: 15px; */
      margin-left: -105px;
   }

   .de {
      margin-left: -180px;
      margin-top: -35px;
   }
}

/* Media query for screens smaller than 992px */
@media (max-width: 992px) {
   .sortAsc {
      margin-top: -45px;
   }
}

@media (max-width: 320px) {
   .events-mob {
      height: 89px;
      font-size: 17px;
      color: #D54E21;
      font-family: 'Open Sans', sans-serif;
      padding: 0;
      margin: 0;
      text-transform: uppercase;
      font-size: 12px;
      list-style-type: none;
      width: 100%;
      gap: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      /* display: block; */
   }

   .d-flex {
      /* display: -webkit-box !important; */
      display: -ms-flexbox !important;
      display: block !important;
      gap: 20px;
   }

   .tags {
      width: 259px !important;
   }

   .venues {
      width: 257px !important;
   }

   .locs {
      width: 257px !important;
   }

   .jazzed {
      width: 255px !important;
   }

   .form-control {
      margin-bottom: 6px !important;
   }

   .sorting_butn {
      margin-top: 0rem !important;
   }

   /* .calendar-box_mobile {
       margin-top: 166px !important;

    } */
   .newStylezz-mobile {
      margin-top: 152px;
      margin-left: auto;
      margin-right: auto;
   }
}


.slider {
   position: relative;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.caption_here {
   position: absolute;
   width: 80%;
   bottom: 7%;
   color: #fff;
}

.fa-map-markers {
   position: relative;
   top: -37px !important;
}

#partner-carousel.owl-carousel .owl-item img {
   display: block;
   width: 35%;
   margin: auto;
}

.al_width {
   /* left: -37px !important; */
   width: 100% !important;
   top: 24% !important;
}

.al-pin-event {
   min-height: 263px !important;
   width: 100% !important;
   margin-top: 66px;
   margin-left: -7px;
}
.img-cal{
   margin-top: -11px;
}

.al-image-fluid {
   width: 161px;
   margin-top: 17px;
}

.al_listen-issue {
   font-size: 24px !important;
   top: 30% !important;
}

.listen-issue .img1 {
   width: 200px !important;
   margin-top: 15px !important;
}

.listen-issue .wrapv:after {
   left: 25% !important;
   top: -30px !important;
   height: 260px !important;
}

.img-al {
   height: 380px !important;
}

.listen-issue-text {
   margin-top: -41px !important;
}

.event-a {
   text-decoration: none !important;
}

.more_info_artist_btn {
   text-decoration: none;
}

.buy_reserve_both {
   text-decoration: none;
}

.clear-btn {
   width: 79px;
   height: 36px;
   border-radius: 5px;
   background: #fff;
   border: 1px solid #d9d1d1;
   font-weight: 600;
   font-size: 14px;
   color: #212529;
}

.c-wid {
   width: 82% !important;
}

.past-date {
   cursor: none;
   pointer-events: none;
   background: lightgray;
}

.loca-map {
   color: #6e6e6e;
   text-decoration: none;
}

.loca-map:hover {
   color: #6e6e6e !important;
}

.calendar-box .al-event-heading h6 {
   font-family: 'Open Sans', sans-serif;
   font-weight: 600;
   font-size: 15px !important;
   color: #000;
   margin-left: -6px !important;
   line-height: 25px;
   margin-top: 8px;
   min-height: 90px;
}

.contain-al {
   margin: 0 auto;
   max-width: 1400px;
   width: 100%;
}

